:root {
  --color-grey-1: #f5f5f5;
  --color-grey-2: #e6eaea;
  --color-grey-3: #8b949e;
  --color-dark-0: #496886;
  --color-dark-1: #435f7a;
  --color-dark-2: #32465a;
  --color-dark-3: #2c3e50;
  --color-dark-4: #243140;
  --color-green-light: #baf1a1;
  --color-green: #27ae60;
  --color-dot-online: #2ecc71;
  --color-dot-away: #f1c40f;
  --color-dot-busy: #e74c3c;
  --color-dot-offline: #95a5a6;
  --box-shadow-dark: 2px 5px 10px rgba(0, 0, 0, 0.5); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  width: 100%;
  min-height: 100vh; }

::placeholder {
  color: var(--color-grey-3); }

.medium-margin-bottom {
  margin-bottom: 1.5rem !important; }

.large-margin-bottom {
  margin-bottom: 3rem !important; }

.on-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible; }

.on-hover:hover::-webkit-scrollbar-thumb {
  visibility: visible; }

.content {
  margin: 0 17.5rem;
  display: flex;
  height: 100vh;
  min-height: 30rem;
  min-width: 60rem;
  box-shadow: var(--box-shadow-dark); }
  @media only screen and (max-width: 75em) {
    .content {
      margin: 0 10.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .content {
      margin: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .content {
      margin: 0rem;
      min-width: 40rem;
      width: 100%; } }

.chat {
  flex: 1;
  position: relative;
  background-color: yellowgreen; }

.top-bar {
  background-color: var(--color-grey-1);
  height: 5.5rem;
  display: flex;
  color: var(--color-dark-3);
  box-shadow: var(--box-shadow-dark); }
  .top-bar__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 2rem; }
    .top-bar__card__user-icon {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 50%; }
    .top-bar__card__name {
      margin-left: 1.5rem;
      font-size: 1.4rem;
      font-weight: 500; }
  .top-bar__live-contact {
    display: flex;
    justify-content: center;
    align-items: center; }
  .top-bar__icon {
    width: 2.25rem;
    height: 100%;
    fill: currentColor;
    padding: 1.5rem;
    box-sizing: content-box;
    cursor: pointer; }
    .top-bar__icon:hover {
      background-color: var(--color-grey-2); }

.conversation {
  height: calc(100% - 9.5rem);
  background-color: var(--color-grey-2);
  overflow-x: hidden;
  overflow-y: scroll; }
  .conversation::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--color-grey-2); }
  .conversation::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-3);
    visibility: hidden; }
  .conversation:hover::-webkit-scrollbar-thumb {
    visibility: visible; }
  .conversation__list {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; }
  .conversation__message {
    display: flex;
    align-items: flex-start;
    width: 75%;
    margin-bottom: 0.25rem;
    padding: 0 1.25rem; }
    .conversation__message__img {
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 50%;
      margin-right: 0.75rem;
      margin-top: 0.75rem;
      display: inline-block;
      box-shadow: 1rem 1rem 10rem #000; }
    .conversation__message__text {
      padding: 1.25rem;
      font-size: 1.4rem;
      display: inline-block;
      background-color: orangered;
      border-radius: 2rem; }
    .conversation__message--left p {
      color: var(--color-dark-3);
      background-color: var(--color-grey-1); }
    .conversation__message--right {
      flex-direction: row-reverse;
      align-self: flex-end; }
      .conversation__message--right img {
        margin-right: 0;
        margin-left: 0.75rem; }
      .conversation__message--right p {
        color: var(--color-grey-1);
        background-color: var(--color-dark-1); }

.form-input {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  display: flex;
  align-items: center; }
  .form-input__input {
    background-color: #ffffff;
    height: 100%;
    flex: 1;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: var(--color-dark-3);
    outline: none;
    border: none; }
  .form-input__options {
    height: 100%;
    flex: 0 0 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-grey-2); }
  .form-input__icon {
    height: 100%;
    width: 50%;
    padding: 1rem;
    cursor: pointer; }
    .form-input__icon:first-child {
      background-color: var(--color-grey-2); }
    .form-input__icon:last-child {
      background-color: var(--color-dark-3); }

.side-nav {
  flex: 0 0 32rem;
  color: var(--color-grey-1);
  background-color: var(--color-dark-3);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 68.75em) {
    .side-nav {
      flex: 0 0 30%; } }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      flex: 0 0 6rem; } }

.profile {
  padding: 2.5rem 3.25rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .profile {
      padding: 0.5rem; } }
  .profile__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto; }
    .profile__card__user-icon {
      width: 4.5rem;
      height: 4.5rem;
      padding: 2px;
      border-radius: 50%;
      border: 2px solid var(--color-green);
      box-sizing: content-box;
      cursor: pointer; }
    .profile__card__name {
      margin-left: 1.75rem; }
      @media only screen and (max-width: 56.25em) {
        .profile__card__name {
          display: none; } }
  .profile__expand-button {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-grey-1);
    padding: 0.75rem;
    box-sizing: content-box;
    transition: all 0.1s;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .profile__expand-button {
        display: none; } }
  .profile__expand-button--active {
    transform: rotate(180deg); }
  .profile__expanded {
    flex: 0 0 100%;
    height: 0;
    margin-top: 3.5rem;
    overflow: hidden;
    transition: width 0.3s ease-out, 0.3s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .profile__expanded {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0; } }
  .profile__expanded--active {
    height: 12rem;
    margin-bottom: 2rem; }
  .profile__contact {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .profile__contact:not(:last-child) {
      margin-bottom: 0.8rem; }
    @media only screen and (max-width: 56.25em) {
      .profile__contact {
        margin-right: 0; } }
    .profile__contact__icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-grey-1); }
    .profile__contact__title-wrap {
      background-color: var(--color-dark-2);
      padding: 0.6rem 0.75rem;
      margin-left: 1.25rem;
      border-radius: 3px;
      flex: 1; }
      @media only screen and (max-width: 56.25em) {
        .profile__contact__title-wrap {
          display: none; } }
    .profile__contact__title {
      font-size: 1.4rem;
      text-transform: lowercase; }

.status {
  width: 14rem;
  position: absolute;
  left: 4rem;
  top: 9.65rem;
  z-index: 100;
  box-shadow: var(--box-shadow-dark);
  visibility: hidden;
  transition: all 0.3s ease; }
  @media only screen and (max-width: 56.25em) {
    .status {
      left: 50%;
      transform: translateX(-50%);
      width: 80%; } }
  .status--active {
    visibility: visible;
    top: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .status--active {
        top: 7rem; } }
  .status__list {
    border-radius: 10px;
    background-color: var(--color-dark-1);
    list-style: none;
    overflow: hidden; }
    .status__list::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 0.6rem solid transparent;
      border-right: 0.6rem solid transparent;
      border-bottom: 0.8rem solid var(--color-dark-1);
      margin: -0.8rem 0 0 2.4rem; }
      @media only screen and (max-width: 56.25em) {
        .status__list::before {
          margin: -0.8rem 0 0 1.75rem; } }
  .status__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    padding-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .status__item {
        padding: 1rem;
        justify-content: center; } }
    .status__item:hover {
      background-color: var(--color-dark-0); }
    .status__item span {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      display: inline-block; }
    .status__item p {
      display: inline-block;
      margin-left: 1.5rem;
      font-size: 1.4rem;
      font-weight: 300; }
      @media only screen and (max-width: 56.25em) {
        .status__item p {
          display: none; } }
    .status__item:nth-of-type(1) span {
      background-color: var(--color-dot-online); }
    .status__item:nth-of-type(2) span {
      background-color: var(--color-dot-away); }
    .status__item:nth-of-type(3) span {
      background-color: var(--color-dot-busy); }
    .status__item:nth-of-type(4) span {
      background-color: var(--color-dot-offline); }

.search {
  position: relative;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .search {
      display: none; } }
  .search__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-grey-1);
    position: absolute;
    left: 2rem;
    cursor: pointer; }
  .search__input {
    outline: none;
    border: none;
    height: 4.25rem;
    width: 100%;
    color: inherit;
    background-color: var(--color-dark-2);
    padding: 1.5rem 1.5rem 1.5rem 4.5rem;
    font-size: 1.5rem;
    font-weight: 300; }
    .search__input:focus {
      background-color: var(--color-dark-1); }

.friends {
  margin-top: 1rem;
  height: calc(100% - 19.55rem);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.15s; }
  @media only screen and (max-width: 56.25em) {
    .friends {
      margin-top: 0;
      height: calc(100% - 26.3rem); } }
  .friends::-webkit-scrollbar {
    width: 0.8rem;
    background-color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .friends::-webkit-scrollbar {
        display: none; } }
  .friends::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-3);
    visibility: hidden; }
  .friends:hover::-webkit-scrollbar-thumb {
    visibility: visible; }
  .friends--active {
    height: calc(100% - 33.55rem); }
  .friends__list {
    list-style: none; }
  .friends__item {
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .friends__item {
        display: flex;
        justify-content: center; } }
    .friends__item:hover {
      background-color: var(--color-dark-2); }
  .friends__item--active {
    background-color: var(--color-dark-2);
    border-left: 0.5rem solid var(--color-dark-1); }
    .friends__item--active figure {
      padding-left: 1.75rem; }
    @media only screen and (max-width: 56.25em) {
      .friends__item--active figure {
        padding-left: 0; } }
  .friends__card {
    padding: 1.25rem 2.25rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .friends__card {
        padding: 0.75rem 0.5rem; } }
    .friends__card__photo {
      width: 4.5rem;
      border-radius: 50%; }
      @media only screen and (max-width: 56.25em) {
        .friends__card__photo {
          width: 4rem; } }
    .friends__card__text {
      margin-left: 1.25rem; }
      @media only screen and (max-width: 56.25em) {
        .friends__card__text {
          display: none; } }
      .friends__card__text--name {
        font-size: 1.4rem;
        line-height: 1.75; }
      .friends__card__text--message {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1; }
        .friends__card__text--message__current-user {
          color: var(--color-grey-3);
          display: inline-block; }

.bottom-bar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color-dark-3); }
  @media only screen and (max-width: 56.25em) {
    .bottom-bar {
      flex-direction: column; } }
  .bottom-bar__button {
    padding: 0.7rem 1.5rem;
    margin-right: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color-dark-2);
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .bottom-bar__button {
        margin-right: 0;
        padding: 1.75rem 1.5rem; } }
    .bottom-bar__button:nth-of-type(1) {
      flex: 0 0 50%; }
    .bottom-bar__button:nth-of-type(2) {
      flex: 1; }
    .bottom-bar__button:hover {
      background-color: var(--color-dark-1); }
  .bottom-bar__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-grey-1); }
  .bottom-bar__text {
    margin-left: 0.75rem;
    font-size: 1.4rem;
    color: var(--color-grey-1); }
    @media only screen and (max-width: 56.25em) {
      .bottom-bar__text {
        display: none; } }

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .spinner__icon {
    width: 7rem;
    height: 7rem;
    fill: var(--color-grey-3);
    animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.authen-content {
  height: 100vh;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .authen-content {
      margin: 0;
      width: 100%; } }

.app-intro {
  display: none; }

.authen-form {
  width: 40rem;
  background-color: var(--color-grey-1);
  color: var(--color-dark-3);
  box-shadow: var(--box-shadow-dark);
  display: flex;
  flex-direction: column;
  min-height: 50rem;
  padding-bottom: 1.5rem; }
  .authen-form__heading {
    padding: 2.5rem 3.5rem;
    padding-top: 3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center; }
    .authen-form__heading--title {
      font-size: 2.4rem;
      display: inline-block;
      flex: 0 0 100%;
      text-transform: uppercase;
      text-align: center; }
    .authen-form__heading--icon {
      margin-top: 1rem;
      width: 10rem;
      height: 10rem;
      box-sizing: content-box;
      fill: var(--color-dark-1);
      transition: all 0.2s; }
      .authen-form__heading--icon:hover {
        fill: var(--color-dark-3);
        transform: scale(1.1); }
    .authen-form__heading--text {
      font-size: 1.8rem;
      margin-right: auto;
      margin-left: 3rem; }

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .login-form__input-wrap {
    padding: 0.5rem 3rem;
    color: inherit;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .login-form__input-wrap:not(:last-child) {
      margin-bottom: 1rem; }
  .login-form__label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 100%; }
  .login-form__info {
    width: 100%;
    padding: 1rem 2rem;
    padding-left: 3rem;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-grey-2);
    background-color: transparent;
    margin-left: -2rem;
    transition: all 0.75s; }
    .login-form__info:focus {
      border-bottom: 2px solid var(--color-dark-3); }
      .login-form__info:focus + svg {
        fill: inherit; }
  .login-form__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-grey-3);
    transition: 0.75s; }
  .login-form__options {
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center; }
    .login-form__options__remember-check {
      display: none; }
      .login-form__options__remember-check:checked + label svg {
        display: inline-block;
        visibility: visible; }
    .login-form__options__remember-label {
      margin-right: auto;
      display: inline-flex;
      align-items: center;
      cursor: pointer; }
      .login-form__options__remember-label span:first-child {
        background-color: rgba(10, 10, 10, 0.2);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem; }
      .login-form__options__remember-label span:last-child {
        display: inline; }
    .login-form__options__check-icon {
      width: 1.5rem;
      height: 1.5rem;
      visibility: hidden; }
    .login-form__options__forgot-password {
      font-style: italic;
      color: var(--color-dark-3); }
      .login-form__options__forgot-password:hover {
        transform: scale(1.25) skewX(-10deg);
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .login-form__login-button {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    height: 5rem;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), black);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s; }
    .login-form__login-button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
      .login-form__login-button:hover::after {
        transform: scaleX(1.3) scaleY(1.5);
        opacity: 0; }
    .login-form__login-button::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), black);
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }

.create-account {
  display: flex;
  align-items: center;
  padding: 0 1rem; }

.copyright-text {
  text-align: center;
  font-size: 1.2rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  outline: none;
  border: none;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  height: 5rem;
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), black);
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .btn:hover::after {
      transform: scaleX(1.3) scaleY(1.5);
      opacity: 0; }
  .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), black);
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.a-btn {
  display: inline-block;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.1s; }
  .a-btn:hover {
    font-weight: 600;
    background-color: var(--color-grey-2); }
