* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 56.25%;
  }
}

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;

  width: 100%;
  min-height: 100vh;
}

::placeholder {
  color: var(--color-grey-3);
}
