* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;

  background-color: var(--color-green);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}

::placeholder {
  color: var(--color-grey-3);
}
